.page-title {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 60px;
  line-height: 125%;
  letter-spacing: 0%;
  color: #403f3d;
  text-align: center;
}
.cart-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}
.cart {
  display: flex;
  justify-content: space-between;
}
.cart-left,
.cart-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-image {
  width: 100px;
  border-radius: 10px;
  overflow: hidden;
}
.cart-prod-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-name {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0%;
}
.extra {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.total-price {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: right;
}
.product-name,
.extra,
.total-price,
.total-pricing p {
  color: #403f3d;
}

.total-pricing {
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.total-pricing p {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0%;
}
