.filter-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 40px 0;
}
@media (min-width: 381px) {
  .filter-container {
    gap: 16px;
  }
}
.filter-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 7px;
  padding: 7px 16px 7px 7px;
  border: 1px solid #c1b6ad;
  border-radius: 40px;
  font-weight: 600;
  color: #403f3d;
}

.filter-btn span {
  padding: 7px;
  background-color: #c1b6ad;
  border-radius: 40px;
}

.filter-btn.selected {
  background-color: #665f55;
  color: #e1d4c9;
}
.filter-btn.selected span {
  background-color: #e1d4c9;
}
