* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  background-color: #e1d4c9;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

.logo {
  width: 100px;
  height: 60px;
}

.global-padding {
  padding: 15px;
}
/* Nav */
.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border: 1.3px solid #665f55;
  height: 44px;
  width: 44px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.burger span {
  display: block;
  height: 2px;
  width: 16px;
  background: #403f3d;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.burger.open {
  gap: 0;
  border-color: #403f3d;
}
.burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(0.7px, 0px);
  width: 20px;
}

.burger.open span:nth-child(2) {
  transform: rotate(-45deg) translate(1.3px, -1px);
  width: 20px;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-block {
  position: absolute;
  left: -30px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  color: #403f3d;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  background-color: #e1d4c9;
  padding-top: 60px;
}
.nav-block.active {
  visibility: initial;
  opacity: 1;
  top: 80px;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.menu-link {
  display: flex;
  align-items: center;
  gap: 16px;
}

/************ footer ***********/

.footer-container {
  padding: 100px 60px;
  background-color: #665f55;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.footer-container h1 {
  color: #e1d4c9;
}
.footer-container .accent {
  color: #b0907a;
  font-style: italic;
}
.social-link {
  height: 60px;
  width: 60px;
}
.social-links {
  margin-top: 40px;
  display: flex;
  gap: 12px;
}

.social-link:hover {
  background-color: #e1d4c9;
  border-radius: 30px;
}
.social-link:hover svg path {
  stroke: #403f3d;
}

.contact-info {
  color: #e1d4c9;
  display: flex;
  flex-direction: column;
  gap: 40px;
  letter-spacing: 0.2px;
}
.contact-info ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact-info li {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* screen size: 768px+ */
@media (min-width: 768px) {
  .global-padding {
    padding: 20px 40px;
  }

  .burger {
    display: none;
  }
  .nav-block {
    visibility: initial;
    opacity: 1;
    flex: 1;
    flex-direction: row;
    gap: unset;
    position: initial;
    height: auto;
    width: auto;
    font-size: 14px;
    font-weight: 500;
    padding-top: 0;
  }
  nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 35px;
  }

  nav {
    flex: 1;
  }
  .logo,
  .menu-link {
    flex: 0 0 auto;
    gap: 5px;
  }
  .menu-link img {
    height: 20px;
  }
}

@media (min-width: 1000px) {
  .global-padding {
    padding: 20px 40px;
  }
  .menu-link {
    gap: 10px;
  }

  .nav-block {
    font-size: 18px;
    font-weight: 600;
  }
  nav ul {
    gap: 50px;
  }
}

/* screen size: 1440px+ */
@media (min-width: 1440px) {
  .footer-container {
    flex-direction: row;
    align-items: center;
    padding: 100px;
  }
  .footer-container > * {
    flex: 1 1 50%;
  }
  .footer-container h1 {
    font-size: 52px;
    font-weight: 500;
  }
}
