.heading-1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 115%;
}

.heading-1.accent {
  font-size: 42px;
  font-weight: 600;
  line-height: 115%;
  font-style: italic;
}

.heading-2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}

.heading-2.accent {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
  font-style: italic;
}

@media (min-width: 768px) {
  .heading-1 {
    font-size: 72px;
    line-height: 105%;
  }

  .heading-1.accent {
    font-size: 72px;
    line-height: 105%;
    font-style: italic;
  }

  .heading-2 {
    font-size: 60px;
    line-height: 125%;
  }

  .heading-2.accent {
    font-size: 60px;
    line-height: 125%;
    font-style: italic;
  }

  .heading-3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
  }
}
